@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mukta:wght@400;700&display=swap');

:root {
    --primary-color: #6b21a8;
    --dark-gray: #687280;
    --off-white:#f3f4f6;
    --dark-maroon:#c026d3;
}

.intro
{
    text-align: center;
    width: 75%;
    font-size: 18px;
    margin: 3rem auto;
}
.greetings
{
    color: var(--primary-color);
    font-weight: bold;
}
.para{
    margin-bottom: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}
/**spaces**/
.margin-md
{
    padding: 2rem;
}

hr {
    margin: 2rem 0rem;
}

/** container**/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;
}
    



.container-center {
    max-width: 600px;
    margin: 0 auto;
    padding:2rem;
}

/** Links**/
.link {
    text-decoration:none ;
    padding: 0.5rem 1rem;
    

}


.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    

}


.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/**look into BEM naming convention for css**/

/**lists**/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/**navigation**/

.navigation {
    background-color: var(--dark-maroon);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;

}

.navigation .link-active {
    font-weight: bold;
}

/**header**/

.hero {
    padding: 2rem;
    text-align: center;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;

}


.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
    text-align: center;
}

/**section**/
.section{
    padding:2rem;
    
}
.section h1{
    text-align: center;
    padding: 5rem;
}
.ow
{
text-align: center;
background-color: var(--off-white);
margin: auto;

}
/**footer**/
.footer
{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .links
{
    color:white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul
{
    padding-inline-start: 0px;
}
.project-image
{
    max-width: 20px;
    display: block;
    margin: auto;   
}
.clickme
{
    border: 2px solid white;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 20px;
    color: white;
    padding: 0.5rem 0.5rem;
    background: white;
    transition: all 0.3s ease-out;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 30%);


}

.projects
{
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 5rem;
    padding-right: 2rem;
}
div{
    display: block;
}
.blogs
{
    padding-left: 2rem;
    padding-bottom: 5rem;
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
}
.blog-heading
{
    text-align: center;
    color: #6b21a8;
    padding: 2rem;
}
a:hover
{
    background-color:black;
}
.images
{
 max-width: 200px;   
}
.blog-container
{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;
}
.blog-title
{
    color: var(--dark-maroon);
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.blog-content
{
    font-size: 16px;
}

p{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
article{
    display: block;
}
.container-case
{
    width: auto;
}