@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root
{
  --font-one: 'Poppins', sans-serif;
  --font-two:  'Ubuntu', sans-serif;
  /* --color-one:#44403c; */
  /* --color-two:#34d399; */
}
body{
    background-color: cornsilk;
}
/* nav-bar */
.nav-bar
{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 0.5rem;
    opacity: 0.90;
    /* color: black; */
    /* background-color: blueviolet; */
}
#color-portfolio
{
    color: red;
    opacity: 0.90;
}

/* anchor */
a:hover
{
    color: red;
    opacity: 0.90;
    transition: all 500ms;
    font-size: 20px;
}

a:link{
    text-decoration: none;
}
a
{
    color: black;
    opacity: 0.90;
}
/*brand*/
.brand
{
    font-weight: bolder;
    font-size: 30px;
    margin: 1.5rem;
    margin-left: 1rem;
    font-family: var(--font-one);
    color: var(--color-two);

    
}
/* nav-menu */
.nav-menu
{
    margin-right: 5rem;
    padding-left: 0rem;
}

.nav-bar .nav-item{
    list-style-type: none;
    margin: 1rem;
    margin-left: 3.5rem;
    display: inline-flex;
    font-weight: bold;

}
.nav-bar .active{
    color: var(--color-one);
    /* text-transform: uppercase; */
}
hr{
    margin: 1rem;
    color: black;
    opacity: 0.90;
}

/* header */

img{
    height: 70%;
    width: 70%;
}
.hero{
    text-align: right;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.intro{
    
    text-align: center;
    width: 75%;
    font-size: 18px;
    margin: 3rem auto;
}
.greetings{
    color: red;
    opacity: 0.90;
    font-weight: bold;
}

    

.name{
    font-weight: bold;
}

.identity{
    color: red;
    opacity: 0.90;
    font-weight: bold;
}

/* projects */
.projects{
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.project-heading{
    color: red;
    opacity: 0.90;
}

.projects h2{
    margin-top: 3rem;
    font-size: 30px;
}

.content-image{
    text-align: center;
    height: 30%;
    width: 30%;
}
.btn{
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 14px;
    font-weight: bold;
    padding: 0.7rem 1rem;
    background-color: white;
    color: white;
    transition: all 0.3s ease-out;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover{
    border: 2px solid black;
    color: white;
    transition: all 0.3s ease-out;
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); */
}
/* blogs */
.blogs{
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
}

.blog-heading{
    color: red;
    opacity: 0.90;
}

.blogs h2{
    margin-top: 3rem;
    font-size: 30px;
}


.blog-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;
}

.blog-title{
    color: var(--color-one);
}

.blog-content{
    font-size: 16px;
}

.read-more{
    color: var(--color-one);
}

.project-container{
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
}

.project-title{
    color: var(--color-one);
}

.project-content{
    font-size: 16px;
}

.container{
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
  margin-top: 7rem;
  justify-content: center;
}
.copyright
{
    text-align: center;
    font-family: var(--font-two);
}
.footer .social
{
    text-align: center;
    padding-bottom: 10px;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    margin-bottom: 0.5rem;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0.8px;
    opacity: 0.90;
}
.footer .social a:hover{
    background-color: white;
    border: 1px solid black;
}

.hero
{
    text-align: center;
    font-family: var(--font-one);
}
.project-color
{
    color: red;
    opacity: 0.90;
}
.hero .hero-heading
{
    padding: 1rem;
    color: black;
    opacity: 0.90;
}
.project-list
{
   font-family: var(--font-two);
   display: flex;
}
.project-list .container-center .margin-md
{
    

}























